* {
    box-sizing: border-box;
    background-color: black;
    opacity: 0.9;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    text-align: center;
}

h2 {
  font-size: 2rem;
}

.statement {
  background-color: black;
  margin: 0;
}

header {
    display: inline-flex;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    margin: 0;
}
.logo {
  height: 50px;
  width: auto;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.nav ul {
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

ul li {
    padding: 0 2rem;
    text-decoration: underline;
    justify-content: flex-end;
}

.mission {
  height: 700px;
  width: 1200px;
  background-image: url(./Skins/img-mission-background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
}

.feature {

}

.location {

}

footer {

}