* {
    box-sizing: border-box;
    opacity: .95;
}

body {
    background-color: black;
    opacity: .95;
    color: seashell;
    font-size: 22px;
    font-family: helvetica;
    text-align: center;
    margin: 0;
}

header{
    height: 69px;
    position: fixed;
    z-index: 1;
    width: 100%;
    align-items: center;
}

main {
    position: relative;
    top: 70px;
}

h2 {
    font-size: 2rem;
    padding-top: 0;
}

h4 {
    font-size: 1.5rem;
}

a {
    color: seashell;
}

p {
   font-size: 1rem
}

.header-wrapper {
    border-bottom: 1px solid seashell;
    display: inline-flex;
    width: 100%;
    align-items: center;
    background-color: black;
    height: 100%;
}

.header-wrapper .logo {
    width: 50%;   
}

#logo {
    width: 22.5%;
    justify-content: flex-start;
    float: left;
    align-items: center;
    padding-left: 2%;
}

.header-wrapper .nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
}

.nav li {
    list-style: none;
    display: inline-flex;
    text-decoration: underline;
    align-items: center;
}

/*   Mission Section   */

.mission {
    background-image: url('./Skins/img-mission-background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 700px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.mission-content {
    background-color:black;
    width: 100%;
}

.mission-content h2, h4{
    padding: .7%;
    border: 0;
    margin: 0;
}

/*   Featured Section   */

.featured {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.featured-tea {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8%;
}

.img-container {
    width: 30%;
    padding: 2%;
}

img {
    max-width: 100%;
}

figcaption {
    padding-top: 2%;
}

/*   Locations Section   */

.locations {
    background-image: url('./Images/img-locations-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    
}

.locations-header {
  margin-top: 3%;
}

.locations-content {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.locations-boxes {
    display: inline-flex;
    justify-content: center;
    
}

.location-box {
    background-color: black;
    opacity: 1;
    padding: 3% 0;
    margin: 0 2%;
    width: 27%;
}

.location-box p {
    font-size: 1.4rem;
}

/*   Footer Section   */

footer {
    margin-top: 9%;
}

.copyright h5 {
    text-align: left;
    margin-left: 2%;
}